nav {
    font-size: larger;
  
    color: #fff;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #000000;
  }
  .navbar {
    background-color: #cdce2a !important;
  }
  .navbar-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  .navbar {
    background-color: #cece2a !important;
  }
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .carrito {
    width: 30px; /* Establece el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    position: top; /* Permite posicionar la imagen de forma relativa */
    top: 50px; /* Mueve la imagen 50px hacia abajo desde su posición original */
    position: right;
    margin-right: 10px;
  
  }
  .logo {
    width: 4rem;
  }
  .navbar-nav .nav-item {
    position: relative;
  }
  
  .navbar-nav .nav-link {
    padding-bottom: 0.5rem;
    transition: border-bottom 0.3s ease;
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  }

  .titulo {
    font-family: sans-serif;
  color: #000000; /* Color del texto */
  text-align: center; /* Alineación del texto */
  margin-top: 120px; /* Espacio superior */
  font-size: 2rem; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  text-decoration: underline;
}

  body {
    font-family: sans-serif;
    background-color: #cdce2a;
    margin: 0;
    padding: 0;
}

.gallery {
  max-width: 1200px; /* Ancho máximo para la galería */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery-item {
  width: calc(25% - 20px); /* Ancho del contenedor (25% de ancho con espacio entre elementos) */
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px; /* Espacio inferior entre elementos */
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; /* Ajustar la imagen al tamaño del contenedor sin deformar */
    transition: transform 0.3s ease;
}

.image-name {
    margin-top: 10px;
    font-weight: bold;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item:active {
    transform: scale(1.1);
}

.modal {
  display: none; /* Por defecto, ocultar la ventana modal */
  position: fixed;
  top: 6%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  z-index: 999; /* Z-index alto para asegurar que la ventana modal esté encima */
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 80%; /* Ancho del contenido de la ventana modal */
  max-width: 650px; /* Ancho máximo para la ventana modal */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Inicialmente, la opacidad es 0 */
  transition: opacity 0.3s ease; /* Transición de opacidad */
  position: relative;
  margin: 50px auto; /* Margen superior e inferior de 50px, centrado horizontalmente */
}

.modal.show {
  display: flex; /* Mostrar la ventana modal cuando tiene la clase 'show' */
}

.modal.show .modal-content {
  opacity: 1; /* Cambiar la opacidad a 1 para mostrar la ventana modal */
}

.modal-text {
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bolder;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease; /* Transición para el color al hacer hover */
}

.close:hover {
  color: #000; /* Cambiar color al hacer hover para resaltar */
}

/* Estilos para la galería */
.gallery {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px; /* Espacio entre filas */
}

.gallery-item {
  width: calc(25% - 20px); /* Ancho del contenedor (25% con espacio entre elementos) */
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px; /* Espacio inferior entre elementos */
  margin-top: 20px; /* Margen superior para evitar que se corten en la parte superior */
}

.gallery-item img {
  width: 100%; /* Establece el ancho al 100% del contenedor */
  height: 100%; /* Establece la altura al 100% del contenedor */
  object-fit: cover; /* Ajusta la imagen al tamaño del contenedor sin deformar */
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-name {
  margin-top: 10px;
  font-weight: bold;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item:active {
  transform: scale(1.1);
}

/* Ajustes responsivos para la galería */
@media (max-width: 992px) {
  .gallery-item {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 20px);
  }
}

