:root {
  --main-font: sans-serif;
  --naranja: #ee9615;

  --rosa: #d52f6a;
  --negro: #2e2e2e;
  --amarillo: #cecf2b;
}
* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
  }
body {
display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Estilos para el logo */
#banner {
  text-align: center;
  padding: 1rem 0;
  margin: 60px 0px 0px 0px;

}

header {
  background-color: var(--amarillo);
}

main {
    flex-grow: 1;
  padding-top: 1rem;
  background: var(--amarillo);
}
.card {
  height: 100%;
  background-color: var(--naranja) !important;
  .img-card {
    max-height: 20rem;
    object-fit: cover;
  }
}

.card:hover {
  transition: 0.4s;
  scale: 1.02;
}
/* Estilos para el nombre de la empresa (h1) */
h1 {
  font-size: larger;
  font-size: 36px;
  color: var(--negro);
  text-align: center;
  margin-top: 10px;
}

/* Estilos para la barra de navegación */
nav {
  font-size: larger;

  color: #fff;
  text-align: center;
  .logo {
    width: 4rem;
  }
  background-color: var(--amarillo);
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
}

/* Estilos para el pie de página */
/* Estilos para el footer */
footer {
  font-size: larger;
  background-color: var(--amarillo);
  color: #000000;
  padding-bottom: 1rem;
}

#redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
}


#redes-sociales a {
  margin-right: 2rem;
}

#mapa {
  text-align: right; /* Alinea el contenido del div hacia la derecha */
  display: flex;
  align-items: right;
}
 /* Estilos CSS personalizados */
 body {
  background-color: #f0f0f0;
}
header {
  background-color: #cdce2a;
  color: cdce2a;
  padding-top: 20px;
}
main {
  padding: 50px 0;
}
.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.btn-primary {
  background-color: #ee9615;
  border-color: #000000;
  color:#000000
}
.btn-primary:hover {
  background-color: #88570d;
  border-color: #000000;
  color:#000000
}
.navbar {
  background-color: #cdce2a !important;
}
.navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.carrito {
  width: 30px; /* Establece el ancho de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  position: top; /* Permite posicionar la imagen de forma relativa */
  top: 50px; /* Mueve la imagen 50px hacia abajo desde su posición original */
  position:right;
  margin-right: 10px;
}
.logo {
  width: 4rem;
}
#carouselExampleSlidesOnly {
  width: 1349px; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}

.carousel-item {
  transition: transform 0.6s ease; /* Añade una transición suave al cambiar de imagen */
}
/* Ajustar el tamaño de las imágenes en el carrusel */
.carousel-item img {
  height: 100%; /* Hacer que las imágenes ocupen el 100% de la altura del contenedor */
  width: auto; /* Mantener el ancho proporcional a la altura */
  object-fit: cover; /* Escalar las imágenes para que llenen el contenedor sin deformarlas */
}
.navbar-brand img {
  max-width: 100px; /* Ajustar el tamaño máximo del logo */
}
.carousel-item img {
  max-width: 100%; /* Imágenes del carrusel al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}
.social-icon {
  width: 30px; /* Tamaño de los íconos de redes sociales */
  height: 30px;
  margin-right: 10px; /* Margen entre íconos */
}
   /* Estilos para los indicadores del carrusel */
   .carousel-indicators {
    position: absolute;
    bottom: -250px; /* Ajustar la distancia desde abajo */
    left: 36%; /* Centrar horizontalmente */
    transform: translateX(-50%);
    z-index: 1; /* Asegura que los indicadores estén sobre el carrusel */
}

/* Estilo para los botones de los indicadores */
.carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%; /* Hacer los indicadores circulares */
    border:#fff;
    background-color: rgba(255, 255, 255, 0); /* Color de fondo para indicadores no activos */
    margin-right: 8px;
    transition: background-color 0.3s ease;
}

/* Estilo para el indicador activo */
.carousel-indicators button.active {
    background-color: #ffffff; /* Color de fondo para indicador activo */
}

/* Ocultar indicadores en dispositivos con un ancho máximo de 768px (versión móvil) */
@media (max-width: 1740px) {
  .carousel-indicators {
    display: none; /* Ocultar los indicadores */
  }
}

.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-link {
    padding-bottom: 0.5rem;
    transition: border-bottom 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.contact-info,
.opening-hours {
  text-align: center; /* Centrar todo el contenido */
}
.contact-info h5,
.opening-hours h5 {
  font-family: sans-serif; /* Fuente personalizada */
  font-weight: bold; /* Letras en negrita */
  text-decoration: underline;
}
.contact-info p,
.opening-hours p {
  margin-bottom: 0; /* Eliminar el margen inferior de los párrafos */
  font-family: sans-serif;
}

.carousel-caption {
  bottom: 20%;
}
.carousel-button {
  position: absolute;
  top: 380%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.carousel-button:hover {
  background-color: #707070;
}
.carousel-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
}